@import url("./index.css");

.categories {
   display: flex;
   flex-flow: row wrap;

   gap: 2.5rem;
}

.article {
   display: grid;
   grid-template-columns: auto auto;
   gap: 20px;
}
.article img {
   object-fit: contain;
   width: 6.25rem;
   max-width: 12.5rem;
}
.article h1 {
   margin: 0;
   color: var(--grayish-blue);
}
.article-text {
   width: 100%;
   display: grid;
   align-content: space-around;

   gap: 0.625rem;
}

.article-paragraph {
   align-self: end;
   color: var(--dark-grayish-blue);
}

@media (min-width: 768px) {
   .categories {
      display: flex;
      flex-flow: row wrap;
      gap: 2.5rem;
   }

   .article {
      max-width: 450px;
   }

   .article h1 {
      font-size: 2rem;
   }
   .article-title {
      font-size: 1.3rem;
   }


   .article-paragraph {
      font-size: 1.2rem;
   }
}
