.new {
   background-color: var(--very-dark-blue);
   padding: 20px;
}
.new .new-title {
   color: var(--soft-orange);
   margin-bottom: 30px;
}
.new > .new-content {
   display: flex;
   flex-direction: column;
   gap: 25px;
   color: var(--off-white);
}

.new .new-body {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.new .new-content hr {
   background-color: var(--dark-grayish-blue);
   border-style: var(--dark-grayish-blue);
   height: 1px;
}
.new .new-body .new-subtitle{
    font-size: clamp(1rem, 2.7vw, 1.5rem);
}
.new .new-body .new-paragraph {
    color: var(--dark-grayish-blue);
    font-size: clamp(1rem, 2vw, 1.5rem);
}

@media (min-width: 768px) {
   .new {
      flex: 3;
      margin: 0 !important;
   }

   .new .new-title {
      font-size: 2.5rem;
   }
   .new > .new-content {
      gap: 35px;
   }

   .new .new-body {
      gap: 15px;

      font-size: 1.5rem;
   }

   .new .new-body .new-paragraph {
      font-size: 1.4rem;
   }
}
